*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$main-dark-color: #2A0944;
$main-light-color: #3B185F;
$accent-pink-color: #A12568;
$tertiary-yellow-color: #FEC260;

$large-font: 5vmin;
$medium-font: 4vmin;
$small-font: 3vmin; 

$shadow-details: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@mixin containers {
   background-color: $tertiary-yellow-color;
   box-shadow: $shadow-details;
}

@mixin flexed-containers {
   display: flex;
   flex-wrap: wrap;
}

body {
   background-color: whitesmoke}

#main{
   margin: 1% 25%;
   background-color: none;
   font-family: 'Inconsolata', monospace;
}

#title-container{
   @include containers();
   text-align: center;
   padding: 2%;
   margin: 1%;
   #title{
      color: $main-dark-color;
      font-size: $large-font;
   }
   #description{
      color: $accent-pink-color;
      font-size: $small-font;
   }
}

#survey-form{
   @include containers();
   margin: 1vmin;
   padding: 1%;
   @include flexed-containers();
   flex-direction: column;

   & > * {
      border: 1px solid red;
      margin: 1vmin; 
   }

   & > div {
      @include flexed-containers();
      align-items: center;
   }
   & > div > * {
      margin: 0 1%;
   }

   input[type=radio], input[type=checkbox] {
      box-shadow: none;
   }

   #textarea-container{
      width: 100%;
      
      @include flexed-containers();
      & > * {
         margin: 1%;
      }
      textarea {
         width: 100%;
         box-shadow: $shadow-details;
         border: none;
         padding: 1%;
      }
   }
}

input, select {
   flex-grow: 1;
   border: none;
   box-shadow: $shadow-details;
}

label{
   font-weight: bold;
   color: $main-dark-color;
}

#age-email-container{
   & > div {
      border: 1px solid blue;
      flex-grow: 1;
      @include flexed-containers();
   }
   input {
      flex-basis: 1;
   }
}


#submit{
   width: max-content;
   height: 5vh;
   background-color: $accent-pink-color;
   color: $tertiary-yellow-color;
   font-size: $medium-font;
   &:active{
      background-color: $tertiary-yellow-color;
      color: $accent-pink-color;
      font-weight: bold;
   }
}