@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lexend', sans-serif;
   font-size: 2.5vmin;
   caret-color: rgba(0,0,0,0);
}

:root{
   --main-color: maroon;
   --accent-color: goldenrod;
   --dark-color: black;
   --light-color: #FAF9F6;

   --font-largest: 6rem;
   --font-larger: 4rem;
   --font-large: 2rem;
   --font-medium: 1.5rem;

   --content-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   --text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1),0px 18px 23px rgba(0,0,0,0.1);
   --hover-shadow-numbers: 0 0 0.0625rem 0.125rem;
   --active-shadow-numbers: 0 0 0.0625rem 0.25rem;
   
}

body{
   background-color: var(--light-color);
   color: var(--main-color);
   display: flex;
   flex-direction: column;
   overflow: hidden;
}


/* Navbar related styling STARTS here */

nav{
   display: flex;
   justify-content: space-between;
   background-color: white;
   height: 10vh;
   padding: 0 1vw;
   box-shadow: var(--content-shadow);
}

   /* Navbar Logo here */

   #navbar-logo{
      width: 10vh;
      padding: 2vh;
      filter: drop-shadow(0px 2px 4px black);
      transition: padding 0.125s;
   }

      #navbar-logo:hover{
         padding: 1.5vh;
         animation: rotating 1s infinite;
      }
               @keyframes rotating {
                  100% {transform: rotate(360deg);}
               }

      #navbar-logo:active{
         padding: 1vh;
      }      

   /* Navbar Links here */

   nav ul{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type:none;
      caret-color: rgba(0,0,0,0);
   }

      nav ul li{
         /* border: 1px solid black; */
         border-radius: 2vw;
         padding: 0.5vw 1vw;
         margin: 0 1vw;
         transition: background-color 0.125s;
         transition: box-shadow 0.125s;
      }

         nav ul li a{
            /* font-size: var(--font-medium); */
            color: var(--main-color);
            text-decoration: none;
            transition: font-weight 0.125s;
         }

               nav ul li:hover{
                  /* border: 1px solid var(--accent-color); */
                  background-color: var(--accent-color);
                  box-shadow: var(--content-shadow);
               }

               nav ul li:active{
                  box-shadow: var(--active-shadow-numbers) var(--accent-color);
               }

               nav ul li a:active {
                  font-weight: bolder;
               }

/* Navbar related styling ENDS here */



/* Main related styling STARTS here */

main{
   height: 90vh;
   overflow-y: scroll;
}

.section-container{
   /* border: 1px solid black;  */
   min-height: 90vh;
   max-height: max-content;
   display: flex;
   flex-wrap: wrap;
   box-shadow: var(--content-shadow);
   caret-color: rgba(0,0,0,0);
}

   /* About Me section here */

   #about-me-container {
      justify-content: center;
      align-items: center;
      padding: 2.5vh 5vw;
   }

      #about-me-container > div {
         /* border: 3px solid black; */
         height: max-content;
      }

      #portrait{
         height: 60vmin;
         border-radius: 2vw;
         /* box-shadow: var(--content-shadow); */
         filter: drop-shadow(0px 4px 8px black);
         transition: height 1s;
      }

         #portrait:hover {
            height: 80vmin;
         }

         #portrait:active {
            animation: swinging 6s infinite;
            animation-direction: alternate;
         }
                  @keyframes swinging {
                     25% {transform: rotate(90deg);}
                     75% {transform: rotate(-90deg);}
                  }

      #about-me-text{
         margin-left: 5vw;
      }

         #hi-text{
            font-size: var(--font-largest);
            text-align: left;
            font-weight: 900;
            text-shadow: var(--text-shadow);
         }

         #im-text{
            font-size: var(--font-large);
            text-align: left;
            /* text-shadow: var(--text-shadow); */
            margin: 1vh 0;
         }

         #loading-bar{
            margin: 3vh 0 0 0;
            border-radius: 2vw;
            width: 3vw;
            height: 5vh;
            background-color: var(--accent-color);
            animation-name: loading-effect;
            animation-duration: 3s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            box-shadow: var(--content-shadow);
         }

         @keyframes loading-effect {
            0% {width: 3vw}
            50%{background-color: var(--accent-color);}
            100% {width: 75vmin; background-color: var(--main-color);}
         }

   /* Learning Projects here */

   #learning-projects-container {
      background-color: white;
      padding: 2vmin;
      display: flex;
   }

      #learning-projects-title {
         font-size: var(--font-large);
         /* background-color: gray; */
         width: 98vw;
         text-align: center;
      }

      #individual-projects-container {
         /* background-color: pink; */
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }

         .individual-project-box {
            background-color: var(--light-color);
            box-shadow: var(--content-shadow);
            margin: 2.5vmin;
            /* padding: 1vmin; */
            max-width: 400px;
            min-height: 250px;
            border-radius: 2vmin;
            display: flex;
            /* transition: box-shadow 0.5s; */
            transition: transform 0.5s;
         }

                     .individual-project-box:hover {
                        /* box-shadow: var(--hover-shadow-numbers) var(--accent-color); */
                        transform: translateY(-15px);
                     }

            .individual-project-img{
               background-color: var(--accent-color);
               width: 800px;
               border-radius: 2vmin 0 0 2vmin;
               padding: 1vmin;
            }
            .individual-project-text{
               /* background-color: lightblue; */
               margin: 1vmin;
            }
               .project-title{
                  font-weight: bolder;
                  margin-bottom: 1vmin;
               }
               .project-description{}


/* Main related styling ENDS here */

/* width */
::-webkit-scrollbar {
   width: 0.5vw;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: white; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: var(--light-color); 
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: var(--accent-color); 
 }